{% extends 'base.html.twig' %}
{% block title %}Welcome - {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">

                <div class="wrapper">
                    <h2 class="form-signin-heading">Welcome</h2>
                <h1>content</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}